/*Configuraciones Globales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
  }
#row{
      max-width: 1140px;
      margin: 0 auto;
  }

html{
    background-color: #fff;
    color: rgb(62,62,62);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1{
    margin-top: 80px;
    margin-bottom: 20px;
    color: rgb(37,92,59);
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
#logo{
    height: 120px;
    width: auto;
    float: left;
    margin-left: 90px;
}

#nav{
    float: left;
    list-style: none;
    margin-top: 60px;
    margin-right: 70px;
}

#nav li{
    display: inline-block;
    margin-left: 40px;
}

#nav li a{
    text-decoration: none;
    color: rgb(37,92,59);
    font-size: 90%;
    letter-spacing: 1px;
    word-spacing: 3px;
    transition: border-bottom 0.2s;
}
#nav li a:hover{
    border-bottom: 2px solid rgb(220,220,24);
}

#btn_registroDeUsuarios{
    display: inline-block;
    border-radius: 100px;
    border: 2px solid rgb(37,92,59);
    width: 180px;
    height: 45px;
    text-align: center;
    background-color: rgb(37,92,59);
    margin-bottom: 20px;
}
#a_registroDeUsuarios{
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(220,220,24);
    font-size: 20px;

}
#a_registroDeUsuarios:hover{
    color: rgb(37,92,59);
}
#btn_registroDeUsuarios:hover{
    background-color: rgb(220,220,24);
 }
#home-container{
    display: inline-block;
    margin-left: 50%;
    margin-top: 1px;
    letter-spacing: 1px;
    word-spacing: 3px;
    transform: translate(-50%,20%);
}
#form-registro{
    display: inline-block;
    margin-top: 0;
    word-spacing: 3px;
    transform: translate(-50%,20%);
}
